@import "variables";
.count-btn {
	border: 1px solid $primary-color;
}
.title-cart {
	display: inline-block;
	text-align: left;
}
.remove-btn {
	font-weight: 900;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}
.btn-order {
	margin-top: 20px;
	margin-bottom: 10px;
}
.summ-msg{
	line-height: 34px;
}
.product-price{
	color: $primary-color;
}
.order-panel ul {
	list-style: none;
}
