@import "variables";
* {
	box-sizing: border-box;
	outline: 0 !important;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.container {
	width: 95%;
}
.body {
	font-family: $main-font-family;
}
.white-text {
	color: #fff;
}
//.main {
//	padding: 10em 0;
//}
.footer {
	padding: 20px 0;
	background-color: $primary-color !important;
	color: #fff;
}
.none-underline {
	text-decoration: none;
}

/*ASIDE*/

.label-block {
	display: block;
}
select {
	width: 100%;
}
.overflow {
	height: 200px;
}
#amount {
	width: 100%;
}
