@import "variables";
.navbar {
	border-radius: 0;
	&-inverse {
		border: none;
		background-color: $primary-color !important;
		color: #fff;
		.navbar-nav {
			&>li>a {
				color: #fff;
			}
			&>.active>a {
				background-color: $primary-color !important;
			}
		}
		.navbar-toggle {
			background-color: $additional-color !important;
		}
	}
	&-header {
		background-color: $primary-color !important;
		color: #fff;
	}
	&-brand {
		padding: 0;
		height: 60px;
		img {
			height: 100%;
		}
	}
	&-mystyle {
		background-color: $additional-color !important;
	}
}
.page-header {
	border-bottom: 2px solid $primary-color;
}
.container>.navbar-header {
	margin: 10px 0 20px;
}
.nav {
	&-icon {
		font-size: 1.3em;
		margin: .5em;
	}
	&-separator {
		margin: 0 !important;
	}
	&-item {
		&:visited,
		&:hover,
		&:focus,
		&:active {
			background-color: $primary-color !important;
			color: #fff;
		}
	}
}
.additional-menu {
	padding: 0;
}
.dropdown-menu>li>a {
	&:focus,
	&:hover {
		color: #fff;
		background-color: $additional-color;
	}
}