@mixin font($font-size, $line-height: 24px, $font-weight: 400) {
	font-weight: $font-weight;
	font-size: $font-size/$main-font-size*1em;
	line-height: $line-height/$font-size;
}
@mixin border($border-color) {
	border: 1px solid $border-color;
}
@mixin transform($transform-deg) {
	-webkit-transform: rotate($transform-deg);
	-ms-transform: rotate($transform-deg);
	transform: rotate($transform-deg);
}
@mixin background-gradient($start, $end) {
	background: $start;
	background: -moz-linear-gradient(left, $start 0%, $end 100%);
	background: -webkit-linear-gradient(left, $start 0%, $end 100%);
	background: -o-linear-gradient(left, $start 0%, $end 100%);
	background: -ms-linear-gradient(left, $start 0%, $end 100%);
	background: linear-gradient(to right, $start 0%, $end 100%);
}
@mixin background-img ($deg, $start, $end) {
	background-image: -webkit-linear-gradient($deg, $start, $end);
	background-image: -moz-linear-gradient($deg, $start, $end);
	background-image: -o-linear-gradient($deg, $start, $end);
	background-image: -ms-linear-gradient($deg, $start, $end);
	background-image: linear-gradient($deg, $start, $end);
}
@mixin radial-gradient($start, $middle, $end) {
	background: -webkit-radial-gradient(circle closest-side at 50%, $start 0%, $middle 34%, $end 100%);
	background: -moz-radial-gradient(circle closest-side at 50%, $start 0%, $middle 34%, $end 100%);
	background: -o-radial-gradient(circle closest-side at 50%, $start 0%, $middle 34%, $end 100%);
	background: -ms-radial-gradient(circle closest-side at 50%, $start 0%, $middle 34%, $end 100%);
	background: radial-gradient(circle closest-side at 50%, $start 0%, $middle 34%, $end 100%);
}
@mixin display-flex ($direction) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: $direction;
	-ms-flex-flow: $direction;
	flex-flow: $direction;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@mixin display-inline-flex () {
	display: -webkit-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}