	@import "variables";
	.modal-header {
		background-color: $primary-color;
	}
	.modal-title {
		display: inline-block;
	}
	.additional {
		&-header,
		&-body {
			padding: 0.5em;
		}
		&-body {
			font-size: 1.5em;
			font-weight: 900;
			h4 {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	.provider-title {
		font-size: 1.5em;
		font-weight: 900;
	}
	.additional-info {
		.additional-header {
			background-color: $primary-color;
		}
		.additional-body {
			border: 1px solid $primary-color;
		}
	}