	@import "variables";
	@import "mixins";
	.title {
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: .5px;
		text-align: center;
		display: block;
		&:hover,
		&:active {
			color: #fff;
			cursor: pointer;
		}
	}
	.product {
		&-card {
			width: 100%;
			&-body {
				text-align: justify;
				border: 1px solid $primary-color;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&-header {
				background-color: $primary-color;
			}
			&:hover {
				.product-card-header {
					background-color: $hover-color;
				}
			}
		}
		&-description {
			position: relative;
			max-height: 5em;
			line-height: 1.3em;
			overflow: hidden;
		}
		&-img {
			margin: 2em 0;
		}
		&-price {
			font-size: 1.5em;
			line-height: 34px;
			color: $hover-color;
		}
	}
	.custom-btn {
		color: $hover-color;
		border: 1px solid $hover-color;
		background: #fff;
		&:hover,
		&:focus,
		&:active {
			color: #fff;
			background: $hover-color;
		}
	}
	.card-icon {
		font-size: 1.2em;
		margin: .2em;
		vertical-align: middle;
	}
	.btn-card {
		vertical-align: middle;
	}
	.hidden-text {
		width: 5em;
		height: 1.5em;
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 0;
		@include background-img(135deg, rgba(255, 255, 255, 0), #fff);
		pointer-events: none;
	}