@import "variables";
.sidebar {
	&-item {
		border: 2px solid $primary-color;
		border-top: 0;
		padding: .7em;
		&--first {
			border: 2px solid $primary-color;
		}
	}
	.sort-header {
		background: $primary-color;
		color: #fff;
		padding: .7em;
	}
	label {
		margin: .7em 0 0;
	}
	#amount {
    margin: .7em 0;
}
	.find-btn {
		margin-top: 1em;
	}
}