.psw-strength {
    display: none;
    height: 5px;
    margin-top: 5px;
}

.block_form_reg .form-control.valid {
    border: 1.5px solid #3f8514;
}

.block_form_reg .form-control.error {
    border: 1.5px solid #b10f0f;
}

.weak {
    display: block;
    background-color: #F88E7D !important;
    border: 1px solid #F95D24 !important;
    width: 25% !important;
}

.medium {
    display: block;
    background-color: #FEE379 !important;
    border: 1px solid #EDB605 !important;
    width: 50% !important;
}

.strong {
    display: block;
    background-color: #81FF6C !important;
    border: 1px solid #05E428 !important;
    width: 100% !important;
}