//COLORS
$primary-color: #cadf90;
$additional-color: #9c9c9c;
$hover-color: #96b251;
$main-font-color: #2a535e;
$light-border-color: #d2cbcb;

//FONT
$main-font-family: 'Oswald Regular',Tahoma,sans-serif;
