/* line 2, ../sass/cart.scss */
.count-btn {
  border: 1px solid #ffba6a;
}

/* line 5, ../sass/cart.scss */
.title-cart {
  display: inline-block;
  text-align: left;
}

/* line 9, ../sass/cart.scss */
.remove-btn {
  font-weight: 900;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* line 16, ../sass/cart.scss */
.btn-order {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 20, ../sass/cart.scss */
.summ-msg {
  line-height: 34px;
}

/* line 23, ../sass/cart.scss */
.product-price {
  color: #ffba6a;
}

/* line 26, ../sass/cart.scss */
.order-panel ul {
  list-style: none;
}
