/* line 2, ../sass/common.scss */
* {
  box-sizing: border-box;
  outline: 0 !important;
}

/* line 6, ../sass/common.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/common.scss */
.clearfix:after {
  clear: both;
}

/* line 14, ../sass/common.scss */
.container {
  width: 95%;
}

/* line 17, ../sass/common.scss */
.body {
  font-family: "Oswald Regular", Tahoma, sans-serif;
}

/* line 20, ../sass/common.scss */
.white-text {
  color: #fff;
}

/* line 26, ../sass/common.scss */
.footer {
  padding: 20px 0;
  background-color: #ffba6a !important;
  color: #fff;
}

/* line 31, ../sass/common.scss */
.none-underline {
  text-decoration: none;
}

/*ASIDE*/
/* line 37, ../sass/common.scss */
.label-block {
  display: block;
}

/* line 40, ../sass/common.scss */
select {
  width: 100%;
}

/* line 43, ../sass/common.scss */
.overflow {
  height: 200px;
}

/* line 46, ../sass/common.scss */
#amount {
  width: 100%;
}
