@font-face {
  font-family: "Oswald Regular";
  src: url("fonts/font-oswald/oswald-regular.eot");
  src: url("fonts/font-oswald/oswald-regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/font-oswald/oswald-regular.woff") format("woff"),
  url("fonts/font-oswald/oswald-regular.ttf") format("truetype"),
  url("fonts/font-oswald/oswald-regular.svg#Oswald Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Bold";
  src: url("fonts/font-oswald/oswald-bold.eot");
  src: url("fonts/font-oswald/oswald-bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/font-oswald/oswald-bold.woff") format("woff"),
  url("fonts/font-oswald/oswald-bold.ttf") format("truetype"),
  url("fonts/font-oswald/oswald-bold.svg#Oswald Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Light";
  src: url("fonts/font-oswald/oswald-light.eot");
  src: url("fonts/font-oswald/oswald-light.eot?#iefix") format("embedded-opentype"),
  url("fonts/font-oswald/oswald-light.woff") format("woff"),
  url("fonts/font-oswald/oswald-light.ttf") format("truetype"),
  url("fonts/font-oswald/oswald-light.svg#Oswald Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
