/* line 2, ../sass/header.scss */
.navbar {
  border-radius: 0;
}
/* line 4, ../sass/header.scss */
.navbar-inverse {
  border: none;
  background-color: #ffba6a !important;
  color: #fff;
}
/* line 9, ../sass/header.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 12, ../sass/header.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #ffba6a !important;
}
/* line 16, ../sass/header.scss */
.navbar-inverse .navbar-toggle {
  background-color: #333 !important;
}
/* line 20, ../sass/header.scss */
.navbar-header {
  background-color: #ffba6a !important;
  color: #fff;
}
/* line 24, ../sass/header.scss */
.navbar-brand {
  padding: 0;
  height: 60px;
}
/* line 27, ../sass/header.scss */
.navbar-brand img {
  height: 100%;
}
/* line 31, ../sass/header.scss */
.navbar-mystyle {
  background-color: #333 !important;
}

/* line 35, ../sass/header.scss */
.page-header {
  border-bottom: 2px solid #ffba6a;
}

/* line 38, ../sass/header.scss */
.container > .navbar-header {
  margin: 10px 0 20px;
}

/* line 42, ../sass/header.scss */
.nav-icon {
  font-size: 1.3em;
  margin: .5em;
}
/* line 46, ../sass/header.scss */
.nav-separator {
  margin: 0 !important;
}
/* line 50, ../sass/header.scss */
.nav-item:visited, .nav-item:hover, .nav-item:focus, .nav-item:active {
  background-color: #ffba6a !important;
  color: #fff;
}

/* line 59, ../sass/header.scss */
.additional-menu {
  padding: 0;
}

/* line 63, ../sass/header.scss */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #333;
}
