/* line 2, ../sass/modal.scss */
.modal-header {
  background-color: #ffba6a;
}

/* line 5, ../sass/modal.scss */
.modal-title {
  display: inline-block;
}

/* line 9, ../sass/modal.scss */
.additional-header, .additional-body {
  padding: 0.5em;
}
/* line 13, ../sass/modal.scss */
.additional-body {
  font-size: 1.5em;
  font-weight: 900;
}
/* line 16, ../sass/modal.scss */
.additional-body h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 22, ../sass/modal.scss */
.provider-title {
  font-size: 1.5em;
  font-weight: 900;
}

/* line 27, ../sass/modal.scss */
.additional-info .additional-header {
  background-color: #ffba6a;
}
/* line 30, ../sass/modal.scss */
.additional-info .additional-body {
  border: 1px solid #ffba6a;
}
