/* line 3, ../sass/product.scss */
.title {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-align: center;
  display: block;
}
/* line 9, ../sass/product.scss */
.title:hover, .title:active {
  color: #fff;
  cursor: pointer;
}

/* line 16, ../sass/product.scss */
.product-card {
  width: 100%;
}
/* line 18, ../sass/product.scss */
.product-card-body {
  text-align: justify;
  border: 1px solid #ffba6a;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 24, ../sass/product.scss */
.product-card-header {
  background-color: #ffba6a;
}
/* line 28, ../sass/product.scss */
.product-card:hover .product-card-header {
  background-color: #f89e34;
}
/* line 33, ../sass/product.scss */
.product-description {
  position: relative;
  max-height: 5em;
  line-height: 1.3em;
  overflow: hidden;
}
/* line 39, ../sass/product.scss */
.product-img {
  margin: 2em 0;
}
/* line 42, ../sass/product.scss */
.product-price {
  font-size: 1.5em;
  line-height: 34px;
  color: #f89e34;
}

/* line 48, ../sass/product.scss */
.custom-btn {
  color: #f89e34;
  border: 1px solid #f89e34;
  background: #fff;
}
/* line 52, ../sass/product.scss */
.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  color: #fff;
  background: #f89e34;
}

/* line 59, ../sass/product.scss */
.card-icon {
  font-size: 1.2em;
  margin: .2em;
  vertical-align: middle;
}

/* line 64, ../sass/product.scss */
.btn-card {
  vertical-align: middle;
}

/* line 67, ../sass/product.scss */
.hidden-text {
  width: 5em;
  height: 1.5em;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  pointer-events: none;
}
