/* line 2, ../sass/common.scss */
* {
  box-sizing: border-box;
  outline: 0 !important;
}

/* line 6, ../sass/common.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/common.scss */
.clearfix:after {
  clear: both;
}

/* line 14, ../sass/common.scss */
.container {
  width: 95%;
}

/* line 17, ../sass/common.scss */
.body {
  font-family: "Oswald Regular", Tahoma, sans-serif;
}

/* line 20, ../sass/common.scss */
.white-text {
  color: #fff;
}

/* line 26, ../sass/common.scss */
.footer {
  padding: 20px 0;
  background-color: #ffba6a !important;
  color: #fff;
}

/* line 31, ../sass/common.scss */
.none-underline {
  text-decoration: none;
}

/*ASIDE*/
/* line 37, ../sass/common.scss */
.label-block {
  display: block;
}

/* line 40, ../sass/common.scss */
select {
  width: 100%;
}

/* line 43, ../sass/common.scss */
.overflow {
  height: 200px;
}

/* line 46, ../sass/common.scss */
#amount {
  width: 100%;
}

/* line 2, ../sass/header.scss */
.navbar {
  border-radius: 0;
}
/* line 4, ../sass/header.scss */
.navbar-inverse {
  border: none;
  background-color: #ffba6a !important;
  color: #fff;
}
/* line 9, ../sass/header.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 12, ../sass/header.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #ffba6a !important;
}
/* line 16, ../sass/header.scss */
.navbar-inverse .navbar-toggle {
  background-color: #333 !important;
}
/* line 20, ../sass/header.scss */
.navbar-header {
  background-color: #ffba6a !important;
  color: #fff;
}
/* line 24, ../sass/header.scss */
.navbar-brand {
  padding: 0;
  height: 60px;
}
/* line 27, ../sass/header.scss */
.navbar-brand img {
  height: 100%;
}
/* line 31, ../sass/header.scss */
.navbar-mystyle {
  background-color: #333 !important;
}

/* line 35, ../sass/header.scss */
.page-header {
  border-bottom: 2px solid #ffba6a;
}

/* line 38, ../sass/header.scss */
.container > .navbar-header {
  margin: 10px 0 20px;
}

/* line 42, ../sass/header.scss */
.nav-icon {
  font-size: 1.3em;
  margin: .5em;
}
/* line 46, ../sass/header.scss */
.nav-separator {
  margin: 0 !important;
}
/* line 50, ../sass/header.scss */
.nav-item:visited, .nav-item:hover, .nav-item:focus, .nav-item:active {
  background-color: #ffba6a !important;
  color: #fff;
}

/* line 59, ../sass/header.scss */
.additional-menu {
  padding: 0;
}

/* line 63, ../sass/header.scss */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #333;
}

/* line 3, ../sass/product.scss */
.title {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-align: center;
  display: block;
}
/* line 9, ../sass/product.scss */
.title:hover, .title:active {
  color: #fff;
  cursor: pointer;
}

/* line 16, ../sass/product.scss */
.product-card {
  width: 100%;
}
/* line 18, ../sass/product.scss */
.product-card-body {
  text-align: justify;
  border: 1px solid #ffba6a;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 24, ../sass/product.scss */
.product-card-header {
  background-color: #ffba6a;
}
/* line 28, ../sass/product.scss */
.product-card:hover .product-card-header {
  background-color: #f89e34;
}
/* line 33, ../sass/product.scss */
.product-description {
  position: relative;
  max-height: 5em;
  line-height: 1.3em;
  overflow: hidden;
}
/* line 39, ../sass/product.scss */
.product-img {
  margin: 2em 0;
}
/* line 42, ../sass/product.scss */
.product-price {
  font-size: 1.5em;
  line-height: 34px;
  color: #f89e34;
}

/* line 48, ../sass/product.scss */
.custom-btn {
  color: #f89e34;
  border: 1px solid #f89e34;
  background: #fff;
}
/* line 52, ../sass/product.scss */
.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  color: #fff;
  background: #f89e34;
}

/* line 59, ../sass/product.scss */
.card-icon {
  font-size: 1.2em;
  margin: .2em;
  vertical-align: middle;
}

/* line 64, ../sass/product.scss */
.btn-card {
  vertical-align: middle;
}

/* line 67, ../sass/product.scss */
.hidden-text {
  width: 5em;
  height: 1.5em;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), #fff);
  pointer-events: none;
}

/* line 2, ../sass/modal.scss */
.modal-header {
  background-color: #ffba6a;
}

/* line 5, ../sass/modal.scss */
.modal-title {
  display: inline-block;
}

/* line 9, ../sass/modal.scss */
.additional-header, .additional-body {
  padding: 0.5em;
}
/* line 13, ../sass/modal.scss */
.additional-body {
  font-size: 1.5em;
  font-weight: 900;
}
/* line 16, ../sass/modal.scss */
.additional-body h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 22, ../sass/modal.scss */
.provider-title {
  font-size: 1.5em;
  font-weight: 900;
}

/* line 27, ../sass/modal.scss */
.additional-info .additional-header {
  background-color: #ffba6a;
}
/* line 30, ../sass/modal.scss */
.additional-info .additional-body {
  border: 1px solid #ffba6a;
}

/* line 1, ../sass/validation.scss */
.psw-strength {
  display: none;
  height: 5px;
  margin-top: 5px;
}

/* line 7, ../sass/validation.scss */
.block_form_reg .form-control.valid {
  border: 1.5px solid #3f8514;
}

/* line 11, ../sass/validation.scss */
.block_form_reg .form-control.error {
  border: 1.5px solid #b10f0f;
}

/* line 15, ../sass/validation.scss */
.weak {
  display: block;
  background-color: #F88E7D !important;
  border: 1px solid #F95D24 !important;
  width: 25% !important;
}

/* line 22, ../sass/validation.scss */
.medium {
  display: block;
  background-color: #FEE379 !important;
  border: 1px solid #EDB605 !important;
  width: 50% !important;
}

/* line 29, ../sass/validation.scss */
.strong {
  display: block;
  background-color: #81FF6C !important;
  border: 1px solid #05E428 !important;
  width: 100% !important;
}

/* line 2, ../sass/cart.scss */
.count-btn {
  border: 1px solid #ffba6a;
}

/* line 5, ../sass/cart.scss */
.title-cart {
  display: inline-block;
  text-align: left;
}

/* line 9, ../sass/cart.scss */
.remove-btn {
  font-weight: 900;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* line 16, ../sass/cart.scss */
.btn-order {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 20, ../sass/cart.scss */
.summ-msg {
  line-height: 34px;
}

/* line 23, ../sass/cart.scss */
.product-price {
  color: #ffba6a;
}

/* line 26, ../sass/cart.scss */
.order-panel ul {
  list-style: none;
}

/* line 3, ../sass/sidebar.scss */
.sidebar-item {
  border: 2px solid #ffba6a;
  border-top: 0;
  padding: .7em;
}
/* line 7, ../sass/sidebar.scss */
.sidebar-item--first {
  border: 2px solid #ffba6a;
}
/* line 11, ../sass/sidebar.scss */
.sidebar .sort-header {
  background: #ffba6a;
  color: #fff;
  padding: .7em;
}
/* line 16, ../sass/sidebar.scss */
.sidebar label {
  margin: .7em 0 0;
}
/* line 19, ../sass/sidebar.scss */
.sidebar #amount {
  margin: .7em 0;
}
/* line 22, ../sass/sidebar.scss */
.sidebar .find-btn {
  margin-top: 1em;
}
