/* line 3, ../sass/sidebar.scss */
.sidebar-item {
  border: 2px solid #ffba6a;
  border-top: 0;
  padding: .7em;
}
/* line 7, ../sass/sidebar.scss */
.sidebar-item--first {
  border: 2px solid #ffba6a;
}
/* line 11, ../sass/sidebar.scss */
.sidebar .sort-header {
  background: #ffba6a;
  color: #fff;
  padding: .7em;
}
/* line 16, ../sass/sidebar.scss */
.sidebar label {
  margin: .7em 0 0;
}
/* line 19, ../sass/sidebar.scss */
.sidebar #amount {
  margin: .7em 0;
}
/* line 22, ../sass/sidebar.scss */
.sidebar .find-btn {
  margin-top: 1em;
}
