<form class="" method="post">
	<div class="alert alert-danger hidden" id="error">
		<strong>Danger!</strong> Неверный логин и(или) пароль!
	</div>
	<div class="form-group col-xs-12 col-sm-6">
		<label class="" for="login-inp">Login</label>
		<input type="text" class="form-control auth_login" id="login-inp" placeholder="Login">
	</div>
	<div class="form-group col-xs-12 col-sm-6">
		<label class="" for="pass-inp">Password</label>
		<input type="text" class="form-control auth_password" id="pass-inp" placeholder="Password">
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="rememberme" id="rememberme"> Remember me
			</label>
		</div>
		<button type="button" class="btn btn-default custom-btn col-xs-12 col-sm-6 auth_btn" id="auth_btn">Sign in</button>
	</div>
</form>