<div class="col-xs-12">
	<div class="panel product-card">
		<div class="panel-heading product-card-header product-card-section clearfix">
			<h3 class="title white-text title-cart"><%=product.name%></h3>
			<span class="close remove-btn" onclick="removeProd(<%=product.id%>)">X</span>
		</div>
		<div class="panel-body product-card-body product-card-section clearfix">
			<div class="product-card-photo col-xs-3">
				<img class="cart-product-img" width="" height="100" src="/images/<%=product.url%>" alt="<%=product.name%>">
			</div>
			<div class="product-card-description col-xs-9">
				<p class="product-description">
					<%=product.info%>
				</p>
				<div class="col-xs-12 col-sm-6">
					<p class="product-count row">
						<span class="fa fa-minus btn count-btn" onclick="minus(<%=product.id%>)"></span>
						<span id="count1<%=product.id%>"><%=count%></span>
						<span class="fa fa-plus btn count-btn" onclick="plus(<%=product.id%>)"></span>
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 text-right">
					<p class="product-price row">
						<span class=""><%=product.price%>грн*
</span><span id="count2<%=product.id%>"><%=count%></span>
						<span>=<%=getSumm(product.price, count)%>грн</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>