<% for(var i = 0; i < json.length; i++) { %>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="panel product-card">
			<div class="panel-heading product-card-header product-card-section clearfix">
				<a class="title white-text" data-toggle="modal" data-target="#modal<%=json[i].id%>"><%=json[i].name%><i class="glyphicon glyphicon-info-sign card-icon"></i></a>
			</div>
			<div class="panel-body product-card-body product-card-section clearfix">
				<div class="product-card-photo text-center">
					<img class="product-img" width="" height="200" src="/images/<%=json[i].url%>" alt="<%=json[i].name%>">
				</div>
				<p class="product-description">
					<%=json[i].mini_description%>
						<span class="hidden-text"></span>
				</p>
					<span class="product-price"><%=json[i].price%>грн</span>
<!--				<button class="btn custom-btn col-xs-5 col-lg-4" data-toggle="modal" data-target="#modal<%=json[i].id%>"><i class="glyphicon glyphicon-info-sign card-icon"></i><span class="btn-card">GET INFO</span></button>-->
				<button class="btn pull-right custom-btn col-xs-5" onclick="addToCart(<%=json[i].id%>)"><i class="glyphicon glyphicon-plus-sign card-icon"></i><span class="btn-card">В КОРЗИНУ</span></button>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal<%=json[i].id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><%=json[i].name%></h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<p class="product-description underline">
								<%=json[i].mini_description%>
							</p>
							<!--
							<div class="provider-photo">
								<img src="<%=json[i].id%>" alt="" />
							</div>
-->
								<hr />
							<div class="provider-info">
								<h4 class="provider-title"><%=concat(json[i].provider.provider_surname, json[i].provider.provider_name, json[i].provider.provider_patronymic)%></h4>
								<p class="provider-contact"><span class="icon-space-after"><i class="fa fa-phone"></i></span>
									<%=toLowerCase(json[i].provider.phone)%>
								</p>
								<p class="provider-contact"><span class="icon-space-after"><i class="fa fa-envelope-o"></i></span>
									<%=toLowerCase(json[i].provider.email)%>
								</p>
								<p class="provider-contact"><span class="icon-space-after"><i class="fa fa-map-marker"></i></span>
									<%=substring(json[i].provider.address)%>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<section class="col-xs-4 col-sm-4 additional-info additional-info text-center">
							<div class="additional-header">
								<i class="
glyphicon glyphicon-thumbs-up fa-2x"></i>
							</div>
							<div class="additional-body">
								<h4><%=json[i].like%></h4>
							</div>
						</section>

						<section class="col-xs-4 col-sm-4 additional-info additional-info text-center">
							<div class="additional-header">
								<i class="glyphicon glyphicon-thumbs-down fa-2x"></i>
							</div>
							<div class="additional-body">
								<h4><%=json[i].dislike%></h4>
							</div>
						</section>

						<section class="col-xs-4 col-sm-4 additional-info additional-info text-center">
							<div class="additional-header">
								<i class="fa fa-star fa-2x"></i>
							</div>
							<div class="additional-body">
								<h4><%=rating(json[i].reiting)%></h4>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>