<div class="order-panel col-xs-12">
	<form method="post" action="include/to_order.php" class="">
		<div class="order-item">

			<h3 class="title-h3">Способы доставки:</h3>
			<ul id="info-radio">
				<li>
					<input type="radio" name="order_delivery" class="order_delivery" id="order_delivery1" value="1" '.$chck1.' />
					<label class="label_delivery" for="order_delivery1">По почте</label>
				</li>
				<li>
					<input type="radio" name="order_delivery" class="order_delivery" id="order_delivery3" value="3" '.$chck3.' />
					<label class="label_delivery" for="order_delivery3">Самовывоз</label>
				</li>
			</ul>
		</div>
		<div class="order-item">
			<h3 class="title-h3">Способы оплаты:</h3>
			<ul id="info-radio2">
				<li>
					<input type="radio" name="order_payment" class="order_payment" id="order_payment1" value="1" '.$chck4.' />
					<label class="label_payment" for="order_payment1">наличный</label>
				</li>
				<li>
					<input type="radio" name="order_payment" class="order_payment" id="order_payment2" value="2" '.$chck5.' />
					<label class="label_payment" for="order_payment2">безналичный</label>
				</li>
			</ul>			
			<br/>
			<input type="submit" name="submitdata" class="btn custom-btn col-xs-12 col-sm-3 btn-order" id="confirm-button" value="ОФОРМИТЬ" />
		</div>
	</form>
</div>