<form id="form_reg" method="post" action="">
	<div class="alert alert-info">
		<strong>Info!</strong> Пароль должен содержать как минимум 1 заглавную букву, 1 строчную, 1 цифру и содержать не менее 7 символов!
	</div>
	<div class="alert alert-danger hidden" id="error2">
		<strong>Danger!</strong> Введенные данные некорректны, пожалуйста, исправьте выделенные поля!
	</div>
	<div class="alert alert-success hidden" id="error3">
		<strong>Success!</strong> Вы успешно зарегистрировались!
	</div>
	<p id="reg_message"></p>
	<div class="block_form_reg" id="block_form_reg">
		<div class="col-xs-12 col-lg-4">
			<div class="form-group">
				<label class="reg_label">Логин</label>
				<input type="text" name="reg_login" class="form-control" id="reg_login" placeholder="Ваш логин" />
			</div>
			<div class="form-group">
				<label class="reg_label">Пароль</label>
				<input type="password" name="reg_pass" class="form-control" id="reg_pass" />
				<div>
					<div class="psw-strength" style="width: 0"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="reg_label">Повторите пароль</label>
				<input type="password" name="reg_pass_r" class="form-control" id="reg_pass_r" />
			</div>
		</div>
		<div class="col-xs-12 col-lg-4">
			<div class="form-group">
				<label class="reg_label">Фамилия</label>
				<input type="text" name="reg_surname" class="form-control" id="reg_surname" placeholder="Иванов">
			</div>
			<div class="form-group">
				<label class="reg_label">Имя</label>
				<input type="text" name="reg_name" class="form-control" id="reg_name" placeholder="Иван">
			</div>
			<div class="form-group">
				<label class="reg_label">Отчество</label>
				<input type="text" name="reg_patronymic" class="form-control" id="reg_patronymic" placeholder="Иванович">
			</div>
		</div>
		<div class="col-xs-12 col-lg-4">
			<div class="form-group">
				<label class="reg_label">Телефон</label>
				<input type="text" name="reg_phone" class="form-control" id="reg_phone" placeholder="+38-063-123-45-67">
			</div>
			<div class="form-group">
				<label class="reg_label">Адрес доставки</label>
				<input type="text" name="reg_address" class="form-control" id="reg_address" placeholder="... ул. Ленина, 25, кв. 3">
			</div>
			<div class="form-group">
				<label class="reg_label">E-mail</label>
				<input type="text" name="reg_email" class="form-control" id="reg_email" placeholder="mail@gmail.com" value="mail@gmail.com">
			</div>
			<input type="button" class="btn btn-default custom-btn reg-btn col-xs-12" id="reg_submit" name="reg_submit" value="Зарегистрироваться">
		</div>
	</div>
</form>